# Backup and temp files
*.bak
*~
*.old
.#*
*.patch

# Perl build files
Makefile
blib/
pm_to_blib
Build
_build
MYMETA.*

# Coverage files
cover_db/
nytprof*

# Misc OS things
.DS_Store

# C compiler files
*.o

# Mite files
*__mite.pm